numpy
future
scikit-learn
tqdm
demon
python-louvain>=0.16
nf1
scipy==1.8.0
pulp
seaborn<=0.11.2
pandas
eva_lcd
bimlpa
markov_clustering
chinese_whispers
python-igraph
angel-cd
pooch
dynetx
thresholdclustering
pyclustering
cython
python-Levenshtein
GraphRicciCurvature==0.5.2.1
networkit
pycombo
karateclub
leidenalg
infomap>=1.3.0
wurlitzer>=1.0.2
node_conformity
gensim==4.1.2
ndlib
linkpred
cdlib
pycairo
powerlaw
matplotlib==3.5.3
networkx==2.8.4
ipython
jupyterlab
ipykernel
hypernetx